{% extends 'DevblockCourseGrabBundle:Email:base.html.twig' %}

{% block title %}Welcome to CourseGrab{% endblock %}

{% block inlineStyles %}

{% endblock %}

{% block content %}
<table>
    <tr>
        <td><h1>Course Notification from CourseGrab</h1></td>
    </tr>
    <tr>
        <td>
            This course has recently had a seat open. However, 
            we can't guarantee how long it will remain open, so hurry 
            and get your spot!
        </td>
    </tr>
    <tr>
        {% include 'DevblockCourseGrabBundle:Email:courses.html.twig' %}
    </tr>
    <tr>
        Thank you<br>
    - CourseGrab Team
    </tr>
</table>
{% endblock %}
