{% extends 'DevblockCourseGrabBundle:Email:base.html.twig' %}

{% block title %}Welcome to CourseGrab{% endblock %}

{% block inlineStyles %}

{% endblock %}

{% block content %}
<table>
    <tr>
        <td><h1>Welcome to CourseGrab</h1></td>
    </tr>
    <tr>
        <td>You have signed up to be notified when these courses have an opening.</td>
    </tr>
    <tr>
        {% include 'DevblockCourseGrabBundle:Email:courses.html.twig' %}
    </tr>
    <tr>
        Thank you<br>
    - CourseGrab Team
    </tr>
</table>
{% endblock %}