<div ng-controller="cartController">
    <form ng-submit="submitCart()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Notification Cart</h4>
            </div>
            <div class="panel-body">
                <div ng-if="isCartEmpty() && cart.submited" class="alert alert-danger">
                    Cart can not be empty!
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" placeholder="sally@gmail.com" ng-model="cart.form.email" name="email"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="reset" class="btn btn-default" ng-click="resetCart()">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-success pull-right" ng-click="toggleCart()">Close</button>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="col-md-1" ng-repeat="course in selectedCourses | orderBy: 'courseNumber'">
            {{ course.courseNumber }}<br>
            <a class="removeLink" ng-click="removeCourseFromCart(course)">Remove</a>
        </div>
    </div>
</div>