<div ng-controller="cartController">
    <form name="cart" ng-submit="submitCart()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Notification Cart</h4>
            </div>
            <div class="panel-body">
                <div ng-if="cart.submited && !validCart()" class="alert alert-danger">
                    Cart can not be empty!
                </div>
                <div ng-if="cart.submited">
                    <div ng-if="wasSuccessful()" class="alert alert-success">
                        You has successfully signed up to be notified as soon as an opening has appeared.
                    </div>
                    <div ng-if="!wasSuccessful()" class="alert alert-danger">
                        Some server errors has occurred. Please try again.
                        <ul>
                            <li ng-repeat="error in cart.errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error': cart.email.$error.required || cart.email.$error.email}">
                            <label for="email">Email:</label>
                            <input type="email" required="required" class="form-control" placeholder="sally@gmail.com" ng-model="cart.form.email" name="email"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="reset" class="btn btn-default" ng-click="resetCart()">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-success pull-right" ng-click="toggleCart()">Close</button>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="col-md-1" ng-repeat="course in selectedCourses | orderBy: 'courseNumber'">
            {{ course.courseNumber }}<br>
            <a class="removeLink" ng-click="removeCourseFromCart(course)">Remove</a>
        </div>
    </div>
</div>