<div class="inner-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1><b>Frequently Asked Questions</b></h1>
                <ul id="faq">
                    <li>
                        <h4><strong>Question</strong></h4>
                        <p>
                            Vim ullum error officiis te, sea detracto iudicabit cu. Ut per inermis suscipiantur.
                            Qui nonumes luptatum adolescens ea, mei choro commodo officiis ad. Ut nam facer oportere. 
                            Pri nobis commodo et, populo convenire an qui, essent convenire voluptatum cum an. 
                            Ex legimus deseruisse sed, magna falli erroribus sea at, nam utamur concludaturque eu.
                        </p>        
                    </li>
                    <li>
                        <h4><strong>Question</strong></h4>
                        <p>
                            Vim ullum error officiis te, sea detracto iudicabit cu. Ut per inermis suscipiantur.
                            Qui nonumes luptatum adolescens ea, mei choro commodo officiis ad. Ut nam facer oportere. 
                            Pri nobis commodo et, populo convenire an qui, essent convenire voluptatum cum an. 
                            Ex legimus deseruisse sed, magna falli erroribus sea at, nam utamur concludaturque eu.
                        </p>        
                    </li>
                    <li>
                        <h4><strong>Question</strong></h4>
                        <p>
                            Vim ullum error officiis te, sea detracto iudicabit cu. Ut per inermis suscipiantur.
                            Qui nonumes luptatum adolescens ea, mei choro commodo officiis ad. Ut nam facer oportere. 
                            Pri nobis commodo et, populo convenire an qui, essent convenire voluptatum cum an. 
                            Ex legimus deseruisse sed, magna falli erroribus sea at, nam utamur concludaturque eu.
                        </p>        
                    </li>
                    <li>
                        <h4><strong>Question</strong></h4>
                        <p>
                            Vim ullum error officiis te, sea detracto iudicabit cu. Ut per inermis suscipiantur.
                            Qui nonumes luptatum adolescens ea, mei choro commodo officiis ad. Ut nam facer oportere. 
                            Pri nobis commodo et, populo convenire an qui, essent convenire voluptatum cum an. 
                            Ex legimus deseruisse sed, magna falli erroribus sea at, nam utamur concludaturque eu.
                        </p>        
                    </li>
                </ul>
                <a class="btn btn-primary" onClick="javascript:history.go(-1);">Back</a>
            </div>
        </div>
    </div>
</div>
