{% extends 'DevblockCourseGrabBundle::base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Course Grab</h1>
            <p>This service allows you to have an advangtage over your fellow schoolmates by sending you a notification
            the moment we find an opening with course you require.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div ng-view></div>
{% endblock %}
